.login {
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
  background-image: linear-gradient(
      195deg,
      rgba(66, 66, 74, 0.6),
      rgba(25, 25, 25, 0.6)
    ),
    url("../../images/login-bg.png");
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .login-container{
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 10px;
}
